body {
	background-image: url(Obrazy/tlo.png);
}

#calastrona {
	padding-top: 0px;
	margin-top: 0px;
	width: 980px;
	height: 1100px;
	background-color: #F83D3D;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url(Obrazy/sierpień.png);
	background-repeat: no-repeat;
}


table {
	padding-top: 190px;
}

tr, th {
	padding: 67px;
	margin: 25px;

}
